.event-card{
    margin-bottom: 20px;
    padding: 16px;
}
  
.card-actions{
    width: 100%;
    height: 35px;
    margin-top: -30px;
    margin-left: -10px;
}

.card-header-text{
    width: 100% !important;
    margin-left: -15px;
}

.card-header-text mat-icon{
    float: left;
    margin-right: 10px;
    margin-top: 2px !important;
    color: #b9b9b9 !important;
    font-size: 20px;
}
.mat-badge-content{
    background-color: orange;
}

.mat-badge-warn .mat-badge-content{
    background-color: red !important;
}
.oneday{
    color: red;
}

.twodays {
    color: orange;
}

.event-header-title{
    font-size: 16px;
}

.col-lead-accordion{
    margin-bottom: 25px;
}
  
mat-panel-title mat-icon {
    margin-right: 15px;
    margin-top: 13px;
    color: #515253;
 }

 .accordion-lead-info-container{
    display: flex;
    flex-wrap: wrap;
 }

.accordion-lead-info-card{
    padding: 5px;
    margin-right: 25px;
}
.accordion-lead-info-card-text{
    font-size: 13px;
    font-weight: 100;
}

.accordion-lead-info-card-header {
    color: #515253;
    font-weight: 600;
}

mat-expansion-panel{
    padding: 5px;
}

.event-container-card mat-icon{
    color: #4288fd;
    margin-top: -3px;
}

.event-add-button{
    background-color: #4288fd;
    float: right;
}

.event-container-card{
    min-height: 540px;
}

h4{
    color: #515253
}