<mat-card class="event-container-card">
    <mat-card-header>
        <mat-card-title><h4>Outcome</h4></mat-card-title>
        <mat-icon >date_range</mat-icon>
    </mat-card-header> 
    <mat-card-actions>
        <div class="card-actions">
        <button mat-flat-button class="event-add-button" color="primary" (click)="openDialog($event)">New</button>
        </div>
    </mat-card-actions>
    <mat-card-content class="event-container">
        <div class="row">
            <div class="col-xl-6" *ngFor="let event of events"> 
                <mat-card class="event-card">
                    <mat-card-header>
                        <div class="card-header-text">
                        <mat-card-title class="event-header-title">{{event.date | date: 'MM/dd/yyyy hh:mm aaa'}}</mat-card-title>
                        <mat-card-subtitle>{{event.location}}</mat-card-subtitle>
                        </div>
                        <mat-icon>calendar_today</mat-icon>
                        <!--<mat-icon matBadge="!" matBadgeColor="warn" style="color: #4288fd;">calendar_today</mat-icon>-->
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card> 