<mat-card class="event-container-card">
    <mat-card-header>
        <mat-card-title><h4>Outcome</h4></mat-card-title>
        <mat-icon >date_range</mat-icon>
    </mat-card-header> 
    <mat-card-actions>
        <div class="card-actions">
        <button *ngIf="lead.state != leadState.version" mat-flat-button class="event-add-button" color="primary" (click)="newEvent($event)">New</button>
        </div>
    </mat-card-actions>
    <mat-card-content class="event-container">
        <div class="row">
            <div class="col-xl-6" *ngFor="let event of events"> 
                <mat-card class="event-card">
                    <mat-card-header>
                        <div class="card-header-text">
                            <mat-card-title class="event-header-title" [ngClass]="eventUrgency(event.date)">{{event.date | date: 'MM/dd/yyyy hh:mm aaa'}}</mat-card-title>
                            <mat-card-title class="event-header-title">
                                <mat-icon *ngIf="event.outcome == 1" >sync</mat-icon> 
                                <mat-icon *ngIf="event.outcome == 2" >event_available</mat-icon> 
                                {{listService.getListDescription(outcomes, event.outcome)}}</mat-card-title>
                            <mat-card-subtitle>
                                <mat-icon *ngIf="!!event.location" >location_on</mat-icon> {{event.location}}
                            </mat-card-subtitle>
                        </div>
                        <mat-icon *ngIf="eventUrgency(event.date) == 'pasts' ">calendar_today</mat-icon>
                        <mat-icon *ngIf="eventUrgency(event.date) == 'oneday' || eventUrgency(event.date) == 'upcoming'" matBadge="!" matBadgeColor="warn">calendar_today</mat-icon>
                        <mat-icon *ngIf="eventUrgency(event.date) == 'twodays'" matBadge="!" >calendar_today</mat-icon>
                        <span *ngIf="user.role == 2 && lead.state != leadState.version" (click)="editEvent(event)" class="edit-note" matTooltip="Edit Event">
                            <mat-icon >edit</mat-icon>
                        </span>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card> 