/deep/ .item-label{
    color: #4052b5;
    font-size: 13px !important;
    font-weight: 600 !important;
}

.mat-list .mat-list-item .mat-list-icon{
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #4052b5;
}

.lead-version-mat-list-item{
    cursor: pointer;
}

.lead-version-mat-list-item:hover{
    background-color: #ebebeb !important;
}

.selected-version {
    border-right: 5px solid black !important;
}