<scrollable [heightOffset]="200">
    <mat-list class="pt-0">
        <mat-list-item  
            *ngFor="let version of versions" 
            (click)="onLeadSelection(version)" 
            class="lead-version-mat-list-item"
            [ngClass]="getSelectedClass(version)">
    
            <mat-icon mat-list-icon>account_box</mat-icon>
            <h1 class="item-label" mat-line>Date:</h1>
            <p mat-line> {{version.versionDate | date: 'MM/dd/yyyy hh:mm aaa' }} </p>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</scrollable>

