<div class="row no-gutters lead-versions main-row">
    <div class="col-md-2">
      
        <div class="md-card">
            <div class="md-card-heading title-with-small-icon">
                <mat-icon class="material-icons" color="primary">list</mat-icon>
                <span class="md-card-title" >
                    Lead History
                </span>
            </div>
            <mat-divider></mat-divider>
            
            <ng-container *ngIf="versions$ | async; let versions;">
                <app-lead-versions-list 
                    [selected]="selectedLead$ | async"
                    [versions]="versions" 
                    (leadSelected)="onLeadSelection($event)">
                </app-lead-versions-list>
            </ng-container>
        </div>
        
    </div>
    <div class="col-md-10"  *ngIf="selectedLead$ | async; let selectedLead;">
        
            <ng-container *ngIf="selectedLead.state != 3 ">
                <app-lead-form 
                    [lead]="selectedLead"
                    [sources]="sources$ | async"
                    [reasons]="reasons$ | async"
                    [plans]="plans$ | async"
                    [outcomes]="outcomes$ | async"
                    
                    (leadSaved)="leadSaved($event)"
                    (formValueChanged)="formValueChange($event)"
                ></app-lead-form>
            </ng-container>
            <ng-container *ngIf="selectedLead.state == 3">
                <app-lead-view
                    [lead]="selectedLead"
                    [sources]="sources$ | async"
                    [reasons]="reasons$ | async"
                    [plans]="plans$ | async"
                    [outcomes]="outcomes$ | async"
                ></app-lead-view>
            </ng-container>
    </div>
    
</div>



