
::ng-deep {
    .md-card{
        min-height: 100%;
        overflow: auto;
    }
    
    .lead-versions{
        background-color: white;
    }

    .main-row {
        min-height: 100%;
    }
    
    .title-with-small-icon > span{
        top: -6px;
        position: relative;
    }
} 

.events-notes-container .row{
    margin-right: 0;
    margin-left: 0;
}