<div class="row">
    <div class="col-md-2">
        <div class="md-card lead-version-mat-card" >
            <div class="md-card-heading">
                <div class="md-card-title">Versions</div>
            </div>
            <div class="md-card-body p-0">
                <div class="row no-gutter m-0">
                    <div class="col-md-12">
                        <ng-container *ngIf="versions$ | async; let versions;">
                            <app-lead-versions-list 
                                [selected]="selectedLead$ | async"
                                [versions]="versions" 
                                (leadSelected)="onLeadSelection($event)">
                            </app-lead-versions-list>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <ng-container *ngIf="selectedLead$ | async; let selectedLead;">
            <app-lead-form 
                [lead]="selectedLead"
                [sources]="sources$ | async"
                [reasons]="reasons$ | async"
                [plans]="plans$ | async"
                [outcomes]="outcomes$ | async"
                (leadStateChanged)="onLeadStateChange($event)"
            ></app-lead-form>
        </ng-container>
    </div>
</div>



