<div class="md-card">
    <div class="md-card-heading pb-0">
        <div class="md-card-title title-with-small-icon ml-3">
            <mat-icon class="material-icons">{{lead.state == leadState.new ? "person_add": "edit"}}</mat-icon>
            <span class="ml-2">{{lead.state == leadState.new ? "New": "Edit"}} Lead</span>
        </div>
    </div>
    <div class="md-card-body">
        <scrollable [heightOffset]="140">
            <form [formGroup]="leadForm" (ngSubmit)="save()">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field>
                            <input matInput type="text" formControlName="firstName" placeholder="First Name" id="firstName"  required/>
                            <mat-error *ngIf="f.firstName.hasError('required')">
                                First Name is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <input matInput type="text" formControlName="lastName" placeholder="Last Name" id="lastName" required/>
                            <mat-error *ngIf="f.lastName.hasError('required')">
                                Last Name is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <input matInput type="text" formControlName="email" placeholder="Email" id="email"  />
                            <mat-error *ngIf="f.email.hasError('email')">
                                Email must be a valid email address
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <input [textMask]="{mask: dateMask}" matInput type="text" formControlName="dob" placeholder="DOB" id="dob" required/>
                            <mat-error *ngIf="f.dob.hasError('pattern')">
                                DOB must have this format MM/DD/YYYY
                            </mat-error>
                            <mat-error *ngIf="f.dob.hasError('required')">
                                DOB is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field>
                            <input matInput type="text" formControlName="mbi" placeholder="MBI" id="mbi"  required/>
                            <mat-error *ngIf="f.mbi.hasError('required')">
                                MBI is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput type="text" formControlName="address" placeholder="Address" id="address" required/>
                            <mat-error *ngIf="f.address.hasError('required')">
                                Address is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <input matInput type="text" [textMask]="{mask: phoneMask}" formControlName="phoneNumber" placeholder="Phone Number" id="phoneNumber"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Reason</mat-label>
                            <mat-select formControlName="reason" required>
                                <mat-option [value]="null" ></mat-option>
                                <mat-option *ngFor="let reason of reasons" [value]="reason.id" >
                                    {{ reason.description }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="f.reason.hasError('required')">
                                Reason is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Current Plan</mat-label>
                            <mat-select formControlName="currentPlan">
                                <mat-option [value]="null" ></mat-option>
                                <mat-option *ngFor="let plan of plans" [value]="plan.id" >{{ plan.description }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field >
                            <mat-label>Source</mat-label>
                            <mat-select formControlName="source">
                                <mat-option [value]="null" ></mat-option>
                                <mat-option *ngFor="let source of sources" [value]="source.id" >{{ source.description }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Outcome</mat-label>
                            <mat-select formControlName="outcome">
                                <mat-option [value]="null" ></mat-option>
                                <mat-option *ngFor="let outcome of outcomes" [value]="outcome.id" >{{ outcome.description }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <ng-container *ngIf="!!leadForm.value.outcome" formGroupName="event">
                    <div class="row">
                        <div class="col-md-11 ml-3 pr-3" >
                            <p class="lead bb">Event</p>
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-md-3" >
                            <mat-form-field>
                                    <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Event Date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" >
                            <mat-form-field>
                                <input matInput type="text" formControlName="location" placeholder="Event Location" id="date" tabindex="0"/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-1" >
                        <div class="col-md-9" >
                            <mat-form-field>
                                <textarea  matInput formControlName="note" placeholder="Event Notes" id="date" tabindex="0"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
                <div class="row">
                    <div class="col-md-12" >
                        <div class="button-row">
                            <button mb-stroked-button class="mb-1 mr-1 btn btn-danger" type="button" (click)="cancel()" *ngIf="lead.state != leadState.version">Cancel</button>
                            <button  mb-stroked-button class="mb-1 mr-1 btn btn-labeled btn-success" type="submit" *ngIf="lead.state != leadState.version " [disabled]="leadForm.invalid">
                                <span class="btn-label"><i class="fa fa-check"></i></span>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </scrollable>
    </div>
</div>

