
<form [formGroup]="leadForm" (ngSubmit)="save()">
    <div  class="row">
        <div class="col-xl-12 col-lead-accordion">
            <mat-accordion class="lead-form-headers-align" >
                <mat-expansion-panel 
                    (opened)="panelOpenState = true" 
                    (closed)="panelOpenState = false" 
                    [disabled]="lead.state == leadState.new ? true : false" 
                    [expanded]="lead.state == leadState.new ? true : false">

                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon class="info-container-icon" *ngIf="!panelOpenState">account_circle</mat-icon>
                            <mat-icon *ngIf="panelOpenState">{{lead.state == leadState.new ? "person_add": "account_circle"}}</mat-icon>
                            <div *ngIf="!panelOpenState" class="accordion-lead-info-container">
                                <div class="accordion-lead-info-card"> 
                                    <div class="accordion-lead-info-card-header">
                                        Name
                                    </div>
                                    <div class="accordion-lead-info-card-text">
                                        {{f.firstName.value}} {{f.lastName.value}} 
                                    </div>
                                </div>
                                <div class="accordion-lead-info-card"> 
                                    <div class="accordion-lead-info-card-header">
                                        Email
                                    </div>
                                    <div class="accordion-lead-info-card-text">
                                        {{f.email.value}}
                                    </div>
                                </div>
                                <div class="accordion-lead-info-card"> 
                                    <div class="accordion-lead-info-card-header">
                                        DOB
                                    </div>
                                    <div class="accordion-lead-info-card-text">
                                        {{f.dob.value}}
                                    </div>
                                </div>
                                <div class="accordion-lead-info-card"> 
                                    <div class="accordion-lead-info-card-header">
                                        Address
                                    </div>
                                    <div class="accordion-lead-info-card-text">
                                        {{f.address.value}}
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="panelOpenState">
                                <h4>{{lead.state == leadState.new ? "New": ""}} Lead</h4>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="firstName" placeholder="First Name" id="firstName"  required/>
                                        <mat-error *ngIf="f.firstName.hasError('required')">
                                            First Name is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="lastName" placeholder="Last Name" id="lastName" required/>
                                        <mat-error *ngIf="f.lastName.hasError('required')">
                                            Last Name is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="email" placeholder="Email" id="email"  />
                                        <mat-error *ngIf="f.email.hasError('email')">
                                            Email must be a valid email address
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input [textMask]="{mask: dateMask}" matInput type="text" formControlName="dob" placeholder="DOB" id="dob" required/>
                                        <mat-error *ngIf="f.dob.hasError('pattern')">
                                            DOB must have this format MM/DD/YYYY
                                        </mat-error>
                                        <mat-error *ngIf="f.dob.hasError('required')">
                                            DOB is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="mbi" placeholder="MBI" id="mbi"  required/>
                                        <mat-error *ngIf="f.mbi.hasError('required')">
                                            MBI is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="address" placeholder="Address" id="address" required/>
                                        <mat-error *ngIf="f.address.hasError('required')">
                                            Address is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput type="text" [textMask]="{mask: phoneMask}" formControlName="phoneNumber" placeholder="Phone Number" id="phoneNumber"/>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput type="text" [textMask]="{mask: phoneMask}" formControlName="secondaryPhone" placeholder="Secondary Phone" id="secondaryPhone"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Reason</mat-label>
                                        <mat-select formControlName="reason" required>
                                            <mat-option [value]="null" ></mat-option>
                                            <mat-option *ngFor="let reason of reasons" [value]="reason.id" >
                                                {{ reason.description }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="f.reason.hasError('required')">
                                            Reason is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Current Plan</mat-label>
                                        <mat-select formControlName="currentPlan">
                                            <mat-option [value]="null" ></mat-option>
                                            <mat-option *ngFor="let plan of plans" [value]="plan.id" >{{ plan.description }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field >
                                        <mat-label>Source</mat-label>
                                        <mat-select formControlName="source">
                                            <mat-option [value]="null" ></mat-option>
                                            <mat-option *ngFor="let source of sources" [value]="source.id" >{{ source.description }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-3"  *ngIf="lead.state == leadState.new">
                                    <mat-form-field>
                                        <mat-label>Outcome</mat-label>
                                        <mat-select formControlName="outcome">
                                            <mat-option [value]="null" ></mat-option>
                                            <mat-option *ngFor="let outcome of outcomes" [value]="outcome.id" >{{ outcome.description }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <ng-container formGroupName="note" *ngIf="lead.state == leadState.new">
                                <div class="row m-1" >
                                    <div class="col-md-6" >
                                        <mat-form-field>
                                            <textarea  matInput formControlName="text" placeholder="Notes" id="date" tabindex="0"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container formGroupName="event" *ngIf="!!leadForm.value.outcome && lead.state == leadState.new">
                                <div class="row">
                                    <div class="col-md-11 ml-3 pr-3" >
                                        <p class="lead bb">Event</p>
                                    </div>
                                </div>
                                <div class="row m-1">
                                    <div class="col-md-3" >
                                        <mat-form-field>
                                                <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Event Date">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6" >
                                        <mat-form-field>
                                            <input matInput type="text" formControlName="location" placeholder="Event Location" id="date" tabindex="0"/>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="row" *ngIf="lead.state == leadState.new">
                                <div class="col-md-12 button-col" >
                                    <div class="button-row">
                                        <button mb-stroked-button class="mb-1 mr-1 btn btn-danger" type="button" (click)="cancel()" *ngIf="lead.state != leadState.version">Cancel</button>
                                        <button  mb-stroked-button class="mb-1 mr-1 btn btn-labeled btn-success" type="submit" *ngIf="lead.state != leadState.version " [disabled]="leadForm.invalid">
                                            <span class="btn-label"><i class="fa fa-check"></i></span>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <!--<div class="row" *ngIf="!panelOpenState">
        <div class="col-xl-12">
            <mat-card class="col-lead-accordion">
                <mat-card-content>
                    <div class="row" *ngIf="lead.state == leadState.edition || lead.state == leadState.master">
                        <div class="col-xl-3">
                            <mat-form-field>
                                <mat-label>Outcome</mat-label>
                                <mat-select formControlName="outcome">
                                    <mat-option [value]="null" ></mat-option>
                                    <mat-option *ngFor="let outcome of outcomes" [value]="outcome.id" >{{ outcome.description }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-9 button-col" >
                            <div class="button-row">
                                <button mb-stroked-button class="mb-1 mr-1 btn btn-danger" type="button" (click)="cancel()" *ngIf="lead.state != leadState.version">Cancel</button>
                                <button  mb-stroked-button class="mb-1 mr-1 btn btn-labeled btn-success" type="submit" *ngIf="lead.state != leadState.version " [disabled]="leadForm.invalid">
                                    <span class="btn-label"><i class="fa fa-check"></i></span>
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>-->
</form>


       




