<div class="md-card">
    <div class="md-card-heading pb-0">
        <div class="md-card-title title-with-small-icon ml-3">
            <mat-icon class="material-icons" color="warn">block</mat-icon>
            <span class="ml-2">Read Only Lead</span>
        </div>
    </div>
    <div class="md-card-body">
            <div class="row">
                <div class="col-md-3">
                  <div class="mda-form-group">
                        <h5>First Name</h5>
                        <div class="value-text-container">
                            <div class="value-text">
                                {{lead.firstName}}
                            </div>
                        </div>
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="mda-form-group">
                        <h5>Last Name</h5>
                        <div class="value-text-container">
                            <div class="value-text">
                                {{lead.lastName}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mda-form-group">
                        <h5>Email</h5>
                        <div class="value-text-container">
                            <div class="value-text">
                                {{lead.email}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mda-form-group">
                        <h5>DOB</h5>
                        <div class="value-text-container">
                            <div class="value-text">
                                {{lead.dob}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="mda-form-group">
                        <h5>MBI</h5>
                        <div class="value-text-container">
                            <div class="value-text">
                                {{lead.mbi}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mda-form-group">
                        <h5>Address</h5>
                        <div class="value-text-container">
                            <div class="value-text">
                                {{lead.address}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mda-form-group">
                        <h5>Phone Number</h5>
                        <div class="value-text-container">
                            <div class="value-text">
                                {{lead.phoneNumber}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="mda-form-group">
                        <h5>Reason</h5>
                        <div class="value-text-container">
                            <div class="value-text">
                                {{viewService.getDescription(reasons,lead.reason)}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mda-form-group">
                        <h5>Current PLan</h5>
                        <div class="value-text-container">
                            <div class="value-text">
                                {{viewService.getDescription(plans,lead.currentPlan)}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mda-form-group">
                        <h5>Source</h5>
                        <div class="value-text-container">
                            <div class="value-text">
                                {{viewService.getDescription(sources,lead.source)}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mda-form-group">
                        <h5>Outcome</h5>
                        <div class="value-text-container">
                            <div class="value-text">
                                {{viewService.getDescription(outcomes,lead.outcome)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!!lead.outcome">
                <div class="row" >
                    <div class="col-md-11 ml-3 pr-3" >
                        <p class="lead bb">Event</p>
                    </div>
                </div>
                <div class="row m-1 ng-star-inserted">
                    <div class="col-md-3">
                        <div class="mda-form-group">
                            <h5>Event Date</h5>
                            <div class="value-text-container">{{lead.event.date | date: 'MM/dd/yyyy'}}</div>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="mda-form-group">
                            <h5>Event Location</h5>
                            <div class="value-text-container">{{lead.event.location}}</div>
                        </div>
                    </div>
                </div>
                <div class="row m-1 ng-star-inserted">
                    <div class="col-md-9" >
                        <div class="mda-form-group">
                            <h5>Event Notes</h5>
                            <div class="value-text-container">
                                <div class="value-text">
                                    {{lead.event.note}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
