.mda-form-group{
    padding: 20px;
}
.value-text-container{
    border-bottom: solid 1px #dadada;
    margin-top: 30px;
}

.value-text{
   float: left;
   margin-top: -25px;
}

h5{
    font-size: 13px;
    font-weight: bold;
    color: #515253;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    ::ng-deep app-lead-form .slimScrollDiv , scrollable{
        max-height: 360px !important;
    }

    ::ng-deep app-lead-form .md-card .md-card-body{
        padding: 0px 22px;
    }
}

@media screen and (max-width: 992px) and (min-width: 576px) {
    ::ng-deep app-lead-form .slimScrollDiv , scrollable{
        max-height: 600px !important;
    }
    
    .md-card{
        min-height: 690px;
    }
    
}