table {
  width: 100%;
  border: solid 1px #e0e0e0;
}
.mat-row{
  cursor: pointer !important;
}
.mat-header-cell{
  background-color: #eeeeee;
  color: #515253;
}

.lead-grid-head-menu-row button {
  margin-right: 30px !important;
}




