
  <div class="row">
      <div class="col-md-12">
          <div class="row lead-grid-head-menu-row">
              <div class="col-md-12">
                  <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
              </div>
          </div>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name</th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>
        
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>
        
          <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef> Dob </th>
            <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
          </ng-container>
          
          <ng-container matColumnDef="mbi">
            <th mat-header-cell *matHeaderCellDef> MBI </th>
            <td mat-cell *matCellDef="let element"> {{element.mbi}} </td>
          </ng-container>
        
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
        
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="['firstName','lastName', 'dob', 'mbi', 'email', 'address']"></tr>
          <tr mat-row (click)="onLeadSelection(row)" *matRowDef="let row; columns: ['firstName','lastName', 'dob', 'mbi', 'email', 'address'];"></tr>
        </table>
      </div>
  </div>









