table {
  width: 100%;
  border: solid 1px #e0e0e0;
}
.mat-row{
  cursor: pointer !important;
}
.mat-header-cell{
  background-color: #eeeeee;
  color: #515253;
}

.lead-grid-head-menu-row button {
  margin-right: 30px !important;
}




.alert-no-record {
  color: #263238;
  background-color: #ffffff;
  border-color: #e0e0e0;
  border-radius: 0 !important;
  margin-bottom: 0px !important;
}

.alert-no-record span{
  color: #575858;
}

::ng-deep .alert-no-record .mat-icon{
  float: right;
  color: #a7a7a7;
}

::ng-deep .mat-paginator-container {
  border: solid 1px #e0e0e0;
  border-top: 0px;
  padding: 0PX;
}


