<div *ngIf="users$ | async; let user;">
    <div class="item user-block" (click)="toggleUser()" *ngIf="userBlockIsVisible()">
        <div class="user-block-picture">
            <div class="user-block-status">
                <img class="img-thumbnail rounded-circle" [src]="user.picture" alt="Avatar" />
                <div class="circle bg-success circle-lg"></div>
            </div>
        </div>
        <div class="user-block-info">
           <!-- <span class="user-block-name">{{user.name}}</span>-->
            <span class="user-block-role">{{user.role == 2 ? 'Manager' : 'Agent'}}</span>
        </div>
    </div>
</div>



