
<div class="md-card" style="min-height: 100%">
        <div class="md-card-heading">
            <div class="md-card-title">
                <mat-icon mat-list-icon class="flex-row" style="transform: scale(1.5);">account_box</mat-icon>
                <h3 style="display: inline;" class="flex-row ml-3">Leads</h3>
            </div>
        </div>
        <div class="md-card-body pt-0">
            <!-- <div class="row">
                <div class="col-md-12"> -->
                    <mat-toolbar class="lead-grid-toolbar d-flex p-0">
                        <button class="mb-1 mr-1 btn btn-labeled btn-success mr-auto" (click)="newLead()" type="button">
                            <span class="btn-label"><i class="fa fa-plus"></i></span>
                            New Lead
                        </button>
                        <mat-form-field appearance="outline">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event.target.value)" [value]="filter$ | async">
                            <mat-icon matSuffix>filter_list</mat-icon>
                        </mat-form-field>
                    </mat-toolbar>
                    <app-lead-grid 
                        [leads]="leads$ | async" 
                        [filter]="filter$ | async"
                        [lastLeadEvents]="lastLeadEvents" 
                        [outcomes]="outcomes$ | async" 
                        [sources]="sources$ | async"

                        (leadSelected)="onLeadSelection($event)"></app-lead-grid>
                <!-- </div>
            </div> -->
        </div>
    </div>
    
  
  
  
  
  
  
  
  
  
  
      
      
      
      
      
      
      
      
