
<div class="md-card">
        <div class="md-card-heading">
            <div class="md-card-title">Leads</div>
        </div>
        <div class="md-card-body">
            <div class="row">
                <div class="col-md-12">
                    <mat-toolbar class="lead-grid-toolbar">
                        <button class="mb-1 mr-1 btn btn-labeled btn-success" (click)="newLead()" type="button">
                            <span class="btn-label"><i class="fa fa-plus"></i></span>
                            New Lead
                        </button>
                            <mat-form-field appearance="outline">
                                <mat-label>Filter</mat-label>
                                <input matInput>
                                <mat-icon matSuffix>filter_list</mat-icon>
                            </mat-form-field>
                    </mat-toolbar>
                    <app-lead-grid [leads]="leads$ | async" (leadSelected)="onLeadSelection($event)"></app-lead-grid>
                </div>
            </div>
        </div>
    </div>
    
  
  
  
  
  
  
  
  
  
  
      
      
      
      
      
      
      
      
